@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #FFF9FBE7;
}

.nav-item:hover > div {
  display: block;
}

.text-hover {
    @apply cursor-pointer hover:text-orange-800 duration-300
}

.nav-item {
  @apply  hover:bg-green-900 h-full flex items-center justify-center px-2 duration-300
}

.nav-item-sidebar {
  @apply pl-6 block py-2 relative before:absolute before:w-[2px] before:h-[2px]
  before:top-[50%] before:translate-y-[-50%] before:left-2 before:bg-green-800 before:rounded-full
}